<h1>Add New Product</h1>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>Name : </td>
        <td>
          <input type="text" id="vnamepd" name="vnamepd" maxlength="30" required [(ngModel)]="product.vnamepd"/>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Price :</td>
        <td>
          <input type="text" id="npricepd" name="npricepd" maxlength="9" required [(ngModel)]="product.npricepd"/>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Note :</td>
        <td colspan="2">
          <input type="text" id="vnotepd" name="vnotepd" style="width: 100%" maxlength="50" [(ngModel)]="product.vnotepd"/>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td><input type="submit" value="Save" /></td>
        <td><input type="button" value="Import CSV" id="checkAndImport" /></td>
      </tr>
    </table>
    <div style="margin-top:20px">
      <input type="file" id="selectFile" name="selectFile" style="display: none;" accept=".csv" />
      <span>
        <button type="button" id="file_select_icon">
          <span aria-hidden="true">Open file CSV</span>
        </button>
      </span>
      <input type="text" id="file_name" placeholder="Select file ..." value="${fileName}" readonly style="width:400px">
      ${file}
    </div>
  </form>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">

$('#file_select_icon').on('click', function() {
    $('#selectFile').click();
});

$('#selectFile').on('change', function() {
    $('#file_name').val($('#selectFile').prop('files')[0].name);
});

$('#checkAndImport').on('click', function() {
	var fileExist = $("#file_name").val();
	if(fileExist == null || fileExist == ""){
		alert("Let's selecting a csv file.");
	} else {
		$('#insertProduct').submit();
	}
	
});
</script>